.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    width:40%;
    border-radius: 20px;
    background: rgb(158, 165, 159);
    padding-bottom: 30px;
    border:1px solid black; 
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color:rgb(27, 75, 34);
    font-size:42px;
    font-weight: 600;
}

.inputs{
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    gap:25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 60px;
    background: rgb(27, 75, 34);
    border-radius: 10px;;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height:40px;
    width: 400px;
    border:none;
    outline: none;
    background: rgb(27, 75, 34);
    font-size:18px;
    color: white;
}
.forgot_pwd{
    align-self: center;
    margin-top: 20px;
    font-size: 16px;
}
.forgot_pwd span{
    color:blue;
    cursor:pointer;
}

.submit-btn-container{
    display: flex;
    flex-direction: column;
    margin:20px auto;
    align-self: center;
    }

    .submit-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;;
        width: 80%;
        height: 50px;
        color:white;
        background: green;
        border-radius: 50px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        border:solid white 2px;
    }

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color:white;
    background: green;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.submit-container{
display: flex;
gap:30px;
margin:40px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color:white;
    background: green;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.gray{
    background: rgb(62, 75, 65);
    color:grey;
}